* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    min-width: 375px;
}

header {
    background-color: #222222;
}

.header-container {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}


.header-right {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

.header-right img {
    height: 23px;
}

.header-right a {
    margin: 0 20px;
}

.section-main {
    background: #F1E4E6;
    margin-bottom: 65px;
}

.main {
    max-height: 764px;
    display: flex;
    align-items: center;
}

.main-photo {
    height: inherit;
    width: 48%;
}

.main-photo img {
    height: inherit;
}

.main-header {
    border-left: 12px solid #F16D7F;
    width: 48%;
    padding: 1%;
}

.main-header h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #222222;
}

.main-header h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #222222;
}

.main-header span {
    font-weight: 700;
    color: #F16D7F;
}

.section-offer {
    margin: 0 auto;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    min-width: 122px;
    height: 280px;
    margin-bottom: 2%;
}


.offer-what {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer-for {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F
}

.women {
    background-image: url('img/offer_women.png');
    background-size: cover;
}

.men {
    background-image: url('img/offer_men.png');
    background-size: cover;
}

.kids {
    background-image: url('img/offer_kids.png');
    background-size: cover;
}

.accesories {
    background-image: url('img/offer_accesories.png');
    background-size: cover;
    width: 100%;
    height: 180px;
}


.section-featured {
    margin-bottom: 80px;
}

.featured-description {
    text-align: center;
    margin-bottom: 50px;
}

.featured-description h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.featured-description p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featured-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.featured-item img:hover {
    cursor: pointer;
    background-color: rgba(58, 56, 56, 0.86);
    z-index: 1;
}

.featured-item {
    width: 32%;
    max-width: 360px;
    max-height: 580px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.featured-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 15px;
}

.featured-item img {
    width: 100%;
}

.featured-item p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 15px;
    color: #5D5D5D;
}

.featured-item .price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 15px;
    color: #F16D7F;

}

.featured-img {
    position: relative;
}

.add-to-cart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(58, 56, 56, 0.86);
    opacity: 0;
}

.add-to-cart:hover {
    opacity: 1;
    transition: 0.3s;
}

.add-to-cart button {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;

}

.add-to-cart-btn {
    background-image: url('img/cart.png');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: top 50%;
    padding: 5px 0 5px 30px;
    color: #fff;
}

.add-to-cart button:hover {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.50);
    border: 2px solid rgba(58, 56, 56, 0.86);
    color: rgba(58, 56, 56, 0.86);
    cursor: pointer;
    transition: 0.3s;
}


.featured-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-all button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 1rem 2rem;
    color: #F26376;
    border: 1px solid #FF6A6A;
    background-color: #fff;
}

.featured-all button:hover {
    background-color: #F26376;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .main {
        height: 370px;
    }

    .main-header h1 {
        font-size: 44px;
        line-height: 53px;
    }

    .main-header h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .featured-item {
        width: 48%;
    }
}

@media screen and (max-width: 320px) {
    .main {
        height: 363px;
        justify-content: center;
    }

    .main-photo {
        display: none;
    }

    .main-header {
        width: auto;
    }

    .main-header h1 {
        font-size: 38px;
        line-height: 46px;
    }

    .main-header h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .container {
        min-width: 320px;
    }

    .offer {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: row;
    }

    .offer-item {
        width: 100%;
        height: 248px;
        margin: 16px;
    }

    .accesories {
        height: 111px;
    }

    .section-featured {
        margin-top: 64px;
    }

    .featured-item {
        width: 100vw;
        margin: 15px 8px;
    }

    .featured-all {
        margin-top: 41px;
    }
}